* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    background: #050505;
    font-family: "Segoe UI", sans-serif;
}

#network {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
}

.hero {
    position: absolute;
    inset: 0;
    z-index: 10;
    display: flex;
    color: #fff;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    animation: fadeUp 1.2s ease;
}

.hero h1 {
    font-weight: 900;
    text-align: center;
    letter-spacing: 16px;
}

.hero h1 span {
    display: block;
}

.hero h1 span:first-child {
    font-size: clamp(3rem,8vw,7rem);
}

.hero h1 span:last-child {
    margin-top: 15px;
    font-size: clamp(2.5rem,7vw,6rem);
}

.info {
    display: flex;
    gap: 30px;
    margin-top: 60px;
    align-items: center;
}

.badge {
    padding: 12px 24px;
    letter-spacing: 3px;
    border-radius: 999px;
    backdrop-filter: blur(10px);
    background: rgba(255,0,0,.08);
    border: 1px solid rgba(255,0,0,.5);
}

.divider {
    width: 2px;
    height: 60px;
    background: #fff;
}

.info a {
    color: #fff;
    font-size: 1.1rem;
    text-decoration: none;
    transition: .3s;
}

.info a:hover {
    color: #ff3b3b;
    text-shadow:
        0 0 10px rgba(255,0,0,.9),
        0 0 20px rgba(255,0,0,.7),
        0 0 40px rgba(255,0,0,.5);
}

.subtitle {
    padding: 0 20px;
    font-size: 1rem;
    margin-top: 40px;
    color: #d0d0d0;
    max-width: 700px;
    text-align: center;
    letter-spacing: 2px;
}

@keyframes fadeUp {

    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media(max-width:768px) {

    .hero h1 {
        letter-spacing: 8px;
    }

    .info {
        flex-direction: column;
        gap: 20px;
    }

    .divider {
        width: 80px;
        height: 2px;
    }
}