/* CONTENEDOR */

.calculator {
    width: 100%;
    max-width: 650px;
}

/* TÍTULO */

.calculator h1 {
    margin-bottom: 2rem;
}

/* FORMULARIO */

#tip-form {
    display: flex;
    gap: 1.25rem;
    text-align: left;
    flex-direction: column;
}

/* SELECT */

#tip {
    cursor: pointer;
}

#tip option {
    color: #000000;
}

/* INPUT CON SIGNO */

.input-wrapper {
    position: relative;
}

.input-wrapper span {
    position: absolute;
    top: 50%;
    left: 1.1rem;
    pointer-events: none;
    transform: translateY(-50%);
    color: var(--color-texto-secundario);
}

.input-wrapper input {
    padding-left: 2rem;
}

/* RESPONSIVE */

@media (max-width: 600px) {

    .project-card {
        padding: 2rem 1.5rem;
    }
    
}