/* CONTENEDOR */

.generator {
    width: 100%;
    max-width: 650px;
}

/* TÍTULO */

.generator h1 {
    margin-bottom: 3rem;
}

/* CAMPOS ESPECÍFICOS */

.generator input {
    margin-bottom: 1rem;
}