:root {
    --color-primario: #151533;
    --texto-primario: #BDA90F;
    --texto-secundario: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

@font-face {
    font-family: fuentePrincipal;
    src: url(/font/fuente.otf);
}

body {
    font-family: sans-serif;
}

.container {
    padding: 1.5rem;
}

/* nav */

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--texto-secundario);
    background: var(--color-primario);
}

.logo {
    font-size: 3rem;
    font-family: fuentePrincipal;
}

.nav-bar__item a {
    display: inline-block;
    color: #fff;
    font-weight: 550;
    font-size: 1.5rem;
    border-radius: 8px;
    padding: .8rem 2rem;
    text-decoration: none;
}

.login {
    margin-right: 2rem;
    background: var(--texto-primario);
}

.login:hover {
    cursor: pointer;
    color: var(--color-primario);
}

.sign-up:hover {
    cursor: pointer;
    color: var(--texto-primario);
}
